.cart {
  margin: 10px auto
  border-radius: 10px
  display: flex
  justify-content: flex-start
  align-items: center 
  height: 60vh 
  width: 80%
  max-width: 1200 
  background-color: #45aaf2
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
}

.cart__title {
  padding: 0 20px
  color: #2f3640
}