.product-detail {
  display: flex
  justify-content: center 
  align-items: center
  margin: 0 auto
  width: 100%
  max-width: 1200px
}

.product-detail__wrapper {
  display: grid
  align-items: center
  grid-template-columns: 1.2fr .8fr
  grid-template-rows: .2fr .2fr .6fr .3fr
  grid-template-areas: "product-image product-title" "product-image product-price" "product-image product-description" "product-image product-button"
  width: 80%
  min-height: calc(var(--main-height, 100vh) - 200px)
}

.product-detail__image {
  grid-area: product-image
  justify-self: center
  border-radius: 10px
  margin: 10px
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
}

.product-detail__title { 
  grid-area: product-title
  align-self: flex-end
  margin: 10px
  font-size: 24px
  color: #1e272e
}

.product-detail__price {
  grid-area: product-price
  align-self: flex-start
  margin: 10px
  font-size: 20px
  color: #1e272e
}

.product-detail__description {
  grid-area: product-description
  align-self: flex-start
  color: #1e272e
  margin: 0 20px 0 0
}

.product-detail__button {
  grid-area: product-button
  align-self: flex-start
  border-radius: 8px
  border: none
  width: 200px
  height: 60px
  color: #ffffff
  background-color: #3867d6
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
}
  

.product-detail__button:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
  cursor: pointer
  background-color: #375cb2
}
  